@import url('https://fonts.googleapis.com/css?family=Kanit');

*{
  font-family: 'Kanit' , sans-serif;
}
body {
    font-size: 100%;
    background-color: bisque;
  }
  
  body, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
  }
  
  /* Body Content */
  
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.25;
    /* equivalent to 20px */
  }
  
  @media (min-width: 43.75em) {
    #page {
      font-size: 1em;
      /* equivalent to 16px */
      line-height: 1.375;
      /* equivalent to 22px */
    }
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .topic{
    color: blue;
    font-size: 18px;
  }